LOCATE COMP "pclk" SITE "P3";
IOBUF PORT "pclk" IO_TYPE=LVCMOS33;
FREQUENCY PORT "pclk" 25 MHZ;

# 8 Status LEDs (active-low, connector P2)
# D1=rightmost on board, D8=leftmost
LOCATE COMP "D1" SITE "N18";
LOCATE COMP "D2" SITE "N17";
LOCATE COMP "D3" SITE "L20";
LOCATE COMP "D4" SITE "M18";
LOCATE COMP "D5" SITE "K20";
LOCATE COMP "D6" SITE "L18";
LOCATE COMP "D7" SITE "G20";
LOCATE COMP "D8" SITE "J20";
IOBUF PORT "D1" IO_TYPE=LVCMOS33;
IOBUF PORT "D2" IO_TYPE=LVCMOS33;
IOBUF PORT "D3" IO_TYPE=LVCMOS33;
IOBUF PORT "D4" IO_TYPE=LVCMOS33;
IOBUF PORT "D5" IO_TYPE=LVCMOS33;
IOBUF PORT "D6" IO_TYPE=LVCMOS33;
IOBUF PORT "D7" IO_TYPE=LVCMOS33;
IOBUF PORT "D8" IO_TYPE=LVCMOS33;

# UART
LOCATE COMP "TXD" SITE "J17";
IOBUF PORT "TXD" IO_TYPE=LVCMOS33 DRIVE=4;

# 7-Segment Display (PMOD_P4A)
LOCATE COMP "seg_a" SITE "E4";
LOCATE COMP "seg_b" SITE "F1";
LOCATE COMP "seg_c" SITE "F2";
LOCATE COMP "seg_d" SITE "F3";
LOCATE COMP "seg_e" SITE "G3";
LOCATE COMP "seg_f" SITE "H4";
LOCATE COMP "seg_g" SITE "H3";
LOCATE COMP "seg_select" SITE "E1";
IOBUF PORT "seg_a" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "seg_b" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "seg_c" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "seg_d" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "seg_e" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "seg_f" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "seg_g" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "seg_select" IO_TYPE=LVCMOS33 DRIVE=4;
