# See https://github.com/wuxx/Colorlight-FPGA-Projects?tab=readme-ov-file

## Clock #########################################

LOCATE COMP "pclk" SITE "P3";
IOBUF PORT "pclk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "pclk" 25 MHZ;

## RESET button ##################################

LOCATE COMP "RESET" SITE "T1"; # fire 2 
IOBUF PORT "RESET" IO_TYPE=LVCMOS33;

## LEDs (active-low, connector P2) #################
## D1=rightmost on board, D8=leftmost

LOCATE COMP "D1_pin" SITE "N18";
LOCATE COMP "D2_pin" SITE "N17";
LOCATE COMP "D3_pin" SITE "L20";
LOCATE COMP "D4_pin" SITE "M18";
LOCATE COMP "D5_pin" SITE "K20";
LOCATE COMP "D6_pin" SITE "L18";
LOCATE COMP "D7_pin" SITE "G20";
LOCATE COMP "D8_pin" SITE "J20";

IOBUF PORT "D1_pin"  IO_TYPE=LVCMOS33;
IOBUF PORT "D2_pin"  IO_TYPE=LVCMOS33;
IOBUF PORT "D3_pin"  IO_TYPE=LVCMOS33;
IOBUF PORT "D4_pin"  IO_TYPE=LVCMOS33;
IOBUF PORT "D5_pin"  IO_TYPE=LVCMOS33;
IOBUF PORT "D6_pin"  IO_TYPE=LVCMOS33;
IOBUF PORT "D7_pin"  IO_TYPE=LVCMOS33;
IOBUF PORT "D8_pin"  IO_TYPE=LVCMOS33;

## PS2 ##########################################

LOCATE COMP "ps2_clk" SITE "K5";
LOCATE COMP "ps2_data" SITE "B3"; 

IOBUF PORT "ps2_clk" PULLMODE=UP   IO_TYPE=LVCMOS33;
IOBUF PORT "ps2_data" PULLMODE=UP   IO_TYPE=LVCMOS33;

## Buttons ######################################

#LOCATE COMP "buttons[0]" SITE "A2";  # power (active low)
#LOCATE COMP "buttons[1]" SITE "K5";  # FIRE1
#LOCATE COMP "buttons[2]" SITE "K4";  # UP
#LOCATE COMP "buttons[3]" SITE "B3";  # DOWN
#LOCATE COMP "buttons[4]" SITE "B2";  # LEFT
#LOCATE COMP "buttons[5]" SITE "E19"; # RIGHT

#IOBUF PORT "buttons[0]" PULLMODE=UP   IO_TYPE=LVCMOS33;
#IOBUF PORT "buttons[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
#IOBUF PORT "buttons[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
#IOBUF PORT "buttons[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
#IOBUF PORT "buttons[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
#IOBUF PORT "buttons[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33;


## UART ######################################################

LOCATE COMP "TXD"   SITE "J17"; # FPGA transmits to ftdi
LOCATE COMP "RXD"   SITE "H18"; # FPGA receives from ftdi

IOBUF PORT "TXD" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "RXD" PULLMODE=UP IO_TYPE=LVCMOS33;

## SPI Flash #################################################

LOCATE COMP "spi_mosi" SITE "W2"; 
LOCATE COMP "spi_miso" SITE "V2";
LOCATE COMP "spi_cs_n" SITE "R2"; 
LOCATE COMP "spi_clk" SITE "U3";

IOBUF PORT "spi_mosi"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "spi_miso"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "spi_cs_n"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "spi_clk"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## SD card ####################################################

LOCATE COMP "sd_clk"  SITE "H2"; 
LOCATE COMP "sd_mosi" SITE "J1"; 
LOCATE COMP "sd_miso" SITE "J3";
LOCATE COMP "sd_cs_n" SITE "K2"; 

IOBUF PORT "sd_clk"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sd_mosi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sd_miso" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sd_cs_n" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4; 

# GPDI differential interface (Video) #########################

#  Note: IO_TYPE=LVCMOS33D, then we only need to drive 
#  the + side of each differential pair
#  (Blue +, Green +, Red +, Clock +), the - sides are
#  automatically generated.

LOCATE COMP "gpdi_dp[0]" SITE "G19"; # Blue + (TMDS Data 0)
LOCATE COMP "gpdi_dn[0]" SITE "H20"; # Blue -
LOCATE COMP "gpdi_dp[1]" SITE "E20"; # Green + (TMDS Data 1)
LOCATE COMP "gpdi_dn[1]" SITE "F19"; # Green -
LOCATE COMP "gpdi_dp[2]" SITE "C20"; # Red + (TMDS Data 2)
LOCATE COMP "gpdi_dn[2]" SITE "D19"; # Red -
LOCATE COMP "gpdi_dp[3]" SITE "J19"; # Clock + (TMDS Clock)
LOCATE COMP "gpdi_dn[3]" SITE "K19"; # Clock -
IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33D DRIVE=4;

# SDRAM (using lower 16 bits of 32-bit bus) ####################
# Pin mapping from LiteX Colorlight i5 target

LOCATE COMP "sd_clk" SITE "B9";
IOBUF  PORT "sd_clk" IO_TYPE=LVCMOS33;

LOCATE COMP "sd_addr[0]"  SITE "B13"; # A0
LOCATE COMP "sd_addr[1]"  SITE "C14"; # A1
LOCATE COMP "sd_addr[2]"  SITE "A16"; # A2
LOCATE COMP "sd_addr[3]"  SITE "A17"; # A3
LOCATE COMP "sd_addr[4]"  SITE "B16"; # A4
LOCATE COMP "sd_addr[5]"  SITE "B15"; # A5
LOCATE COMP "sd_addr[6]"  SITE "A14"; # A6
LOCATE COMP "sd_addr[7]"  SITE "A13"; # A7
LOCATE COMP "sd_addr[8]"  SITE "A12"; # A8
LOCATE COMP "sd_addr[9]"  SITE "A11"; # A9
LOCATE COMP "sd_addr[10]" SITE "B12"; # A10 (auto-precharge / row addr MSB)
IOBUF PORT "sd_addr[0]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_addr[1]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_addr[2]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_addr[3]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_addr[4]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_addr[5]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_addr[6]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_addr[7]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_addr[8]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_addr[9]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_addr[10]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "sd_d[0]"  SITE "D15";
LOCATE COMP "sd_d[1]"  SITE "E14";
LOCATE COMP "sd_d[2]"  SITE "E13";
LOCATE COMP "sd_d[3]"  SITE "D12";
LOCATE COMP "sd_d[4]"  SITE "E12";
LOCATE COMP "sd_d[5]"  SITE "D11";
LOCATE COMP "sd_d[6]"  SITE "C10";
LOCATE COMP "sd_d[7]"  SITE "B17";
LOCATE COMP "sd_d[8]"  SITE "B8";
LOCATE COMP "sd_d[9]"  SITE "A8";
LOCATE COMP "sd_d[10]" SITE "C7";
LOCATE COMP "sd_d[11]" SITE "A7";
LOCATE COMP "sd_d[12]" SITE "A6";
LOCATE COMP "sd_d[13]" SITE "B6";
LOCATE COMP "sd_d[14]" SITE "A5";
LOCATE COMP "sd_d[15]" SITE "B5";

IOBUF PORT "sd_d[0]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_d[1]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_d[2]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_d[3]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_d[4]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_d[5]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_d[6]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_d[7]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_d[8]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_d[9]"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_d[10]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_d[11]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_d[12]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_d[13]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_d[14]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_d[15]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "sd_ba[0]" SITE "B11";
LOCATE COMP "sd_ba[1]" SITE "C8";
IOBUF PORT "sd_ba[0]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_ba[1]" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

LOCATE COMP "sd_we" SITE "A10";
LOCATE COMP "sd_ras" SITE "B10";
LOCATE COMP "sd_cas" SITE "A9";
IOBUF PORT "sd_we"  IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_ras" IO_TYPE=LVCMOS33 SLEWRATE=FAST;
IOBUF PORT "sd_cas" IO_TYPE=LVCMOS33 SLEWRATE=FAST;

# Note: CKE, CS, DQM appear to be hardwired on the Colorlight i5 PCB:
# CKE = tied high (always enabled), CS = tied low (always selected),
# DQM = tied low (no byte masking). The muchtoremember controller
# drives these signals internally but they don't need external pins.
# Only 11 address lines (A0-A10) are routed to FPGA.
# Data bus: dq[15:0] = first 16-bit chip, dq[31:16] = second chip.
# We use dq[15:0] only (16MB) with the 16-bit controller.

# 7 Segment Display (PMOD_P4A) ##############################

LOCATE COMP "seg_select" SITE "E1";
LOCATE COMP "segments[0]" SITE "E4";  # seg_a
LOCATE COMP "segments[1]" SITE "F1";  # seg_b
LOCATE COMP "segments[2]" SITE "F2";  # seg_c
LOCATE COMP "segments[3]" SITE "F3";  # seg_d
LOCATE COMP "segments[4]" SITE "G3";  # seg_e
LOCATE COMP "segments[5]" SITE "H4";  # seg_f
LOCATE COMP "segments[6]" SITE "H3";  # seg_g

IOBUF PORT "seg_select" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "segments[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "segments[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "segments[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "segments[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "segments[4]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "segments[5]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "segments[6]" IO_TYPE=LVCMOS33 DRIVE=4;

# Audio output (FM Synth) ################################

LOCATE COMP "audio_pwm" SITE "E18";
IOBUF  PORT "audio_pwm" IO_TYPE=LVCMOS33 DRIVE=4;

LOCATE COMP "i2s_sd"    SITE "J18";   # MAX98357A enable
LOCATE COMP "i2s_din"   SITE "L4";
LOCATE COMP "i2s_bclk"  SITE "N4";
LOCATE COMP "i2s_lrck"  SITE "T3";
IOBUF  PORT "i2s_sd"    IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "i2s_din"   IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "i2s_bclk"  IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF  PORT "i2s_lrck"  IO_TYPE=LVCMOS33 DRIVE=4;

