# See https://github.com/wuxx/Colorlight-FPGA-Projects?tab=readme-ov-file

## Clock #########################################

LOCATE COMP "pclk" SITE "P3";
IOBUF PORT "pclk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "pclk" 25 MHZ;

## RESET button ##################################

LOCATE COMP "RESET" SITE "T1"; # fire 2 
IOBUF PORT "RESET" IO_TYPE=LVCMOS33;

## LEDs (active-low, connector P2) #################
## D1=rightmost on board, D8=leftmost

LOCATE COMP "D1_pin" SITE "N18";
LOCATE COMP "D2_pin" SITE "N17";
LOCATE COMP "D3_pin" SITE "L20";
LOCATE COMP "D4_pin" SITE "M18";
LOCATE COMP "D5_pin" SITE "K20";
LOCATE COMP "D6_pin" SITE "L18";
LOCATE COMP "D7_pin" SITE "G20";
LOCATE COMP "D8_pin" SITE "J20";

IOBUF PORT "D1_pin"  IO_TYPE=LVCMOS33;
IOBUF PORT "D2_pin"  IO_TYPE=LVCMOS33;
IOBUF PORT "D3_pin"  IO_TYPE=LVCMOS33;
IOBUF PORT "D4_pin"  IO_TYPE=LVCMOS33;
IOBUF PORT "D5_pin"  IO_TYPE=LVCMOS33;
IOBUF PORT "D6_pin"  IO_TYPE=LVCMOS33;
IOBUF PORT "D7_pin"  IO_TYPE=LVCMOS33;
IOBUF PORT "D8_pin"  IO_TYPE=LVCMOS33;

## PS2 ##########################################

LOCATE COMP "ps2_clk" SITE "K5";
LOCATE COMP "ps2_data" SITE "B3"; 

IOBUF PORT "ps2_clk" PULLMODE=UP   IO_TYPE=LVCMOS33;
IOBUF PORT "ps2_data" PULLMODE=UP   IO_TYPE=LVCMOS33;

## Buttons ######################################

#LOCATE COMP "buttons[0]" SITE "A2";  # power (active low)
#LOCATE COMP "buttons[1]" SITE "K5";  # FIRE1
#LOCATE COMP "buttons[2]" SITE "K4";  # UP
#LOCATE COMP "buttons[3]" SITE "B3";  # DOWN
#LOCATE COMP "buttons[4]" SITE "B2";  # LEFT
#LOCATE COMP "buttons[5]" SITE "E19"; # RIGHT

#IOBUF PORT "buttons[0]" PULLMODE=UP   IO_TYPE=LVCMOS33;
#IOBUF PORT "buttons[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
#IOBUF PORT "buttons[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
#IOBUF PORT "buttons[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
#IOBUF PORT "buttons[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
#IOBUF PORT "buttons[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33;


## UART ######################################################

LOCATE COMP "TXD"   SITE "J17"; # FPGA transmits to ftdi
LOCATE COMP "RXD"   SITE "H18"; # FPGA receives from ftdi

IOBUF PORT "TXD" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "RXD" PULLMODE=UP IO_TYPE=LVCMOS33;

## SPI Flash #################################################

LOCATE COMP "spi_mosi" SITE "W2"; 
LOCATE COMP "spi_miso" SITE "V2";
LOCATE COMP "spi_cs_n" SITE "R2"; 
LOCATE COMP "spi_clk" SITE "U3";

IOBUF PORT "spi_mosi"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "spi_miso"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "spi_cs_n"  PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "spi_clk"   PULLMODE=NONE IO_TYPE=LVCMOS33 DRIVE=4;

## SD card ####################################################

LOCATE COMP "sd_clk"  SITE "H2"; 
LOCATE COMP "sd_mosi" SITE "J1"; 
LOCATE COMP "sd_miso" SITE "J3";
LOCATE COMP "sd_cs_n" SITE "K2"; 

IOBUF PORT "sd_clk"  PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sd_mosi" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sd_miso" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "sd_cs_n" PULLMODE=UP IO_TYPE=LVCMOS33 DRIVE=4; 

# GPDI differential interface (Video) #########################

#  Note: IO_TYPE=LVCMOS33D, then we only need to drive 
#  the + side of each differential pair
#  (Blue +, Green +, Red +, Clock +), the - sides are
#  automatically generated.

LOCATE COMP "gpdi_dp[0]" SITE "G19"; # Blue + (TMDS Data 0)
LOCATE COMP "gpdi_dn[0]" SITE "H20"; # Blue -
LOCATE COMP "gpdi_dp[1]" SITE "E20"; # Green + (TMDS Data 1)
LOCATE COMP "gpdi_dn[1]" SITE "F19"; # Green -
LOCATE COMP "gpdi_dp[2]" SITE "C20"; # Red + (TMDS Data 2)
LOCATE COMP "gpdi_dn[2]" SITE "D19"; # Red -
LOCATE COMP "gpdi_dp[3]" SITE "J19"; # Clock + (TMDS Clock)
LOCATE COMP "gpdi_dn[3]" SITE "K19"; # Clock -
IOBUF PORT "gpdi_dp[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[0]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[1]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[2]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dp[3]" IO_TYPE=LVCMOS33D DRIVE=4;
IOBUF PORT "gpdi_dn[3]" IO_TYPE=LVCMOS33D DRIVE=4;

# 7 Segment Display (PMOD_P4A) ##############################

LOCATE COMP "seg_select" SITE "E1";
LOCATE COMP "segments[0]" SITE "E4";  # seg_a
LOCATE COMP "segments[1]" SITE "F1";  # seg_b
LOCATE COMP "segments[2]" SITE "F2";  # seg_c
LOCATE COMP "segments[3]" SITE "F3";  # seg_d
LOCATE COMP "segments[4]" SITE "G3";  # seg_e
LOCATE COMP "segments[5]" SITE "H4";  # seg_f
LOCATE COMP "segments[6]" SITE "H3";  # seg_g

IOBUF PORT "seg_select" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "segments[0]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "segments[1]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "segments[2]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "segments[3]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "segments[4]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "segments[5]" IO_TYPE=LVCMOS33 DRIVE=4;
IOBUF PORT "segments[6]" IO_TYPE=LVCMOS33 DRIVE=4;

