# ULX3S constraint file for FM Synth
# See https://github.com/emard/ulx3s/blob/master/doc/constraints/ulx3s_v20.lpf

## Clock (25 MHz) ###################################

LOCATE COMP "pclk" SITE "G2";
IOBUF PORT "pclk" PULLMODE=NONE IO_TYPE=LVCMOS33;
FREQUENCY PORT "pclk" 25 MHZ;

## Buttons ##########################################
# [0]=power(active low) [1]=fire1 [2]=up [3]=down [4]=left [5]=right

LOCATE COMP "buttons[0]" SITE "D6";
LOCATE COMP "buttons[1]" SITE "R1";
LOCATE COMP "buttons[2]" SITE "R18";
LOCATE COMP "buttons[3]" SITE "V1";
LOCATE COMP "buttons[4]" SITE "U1";
LOCATE COMP "buttons[5]" SITE "H16";

IOBUF PORT "buttons[0]" PULLMODE=UP   IO_TYPE=LVCMOS33;
IOBUF PORT "buttons[1]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "buttons[2]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "buttons[3]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "buttons[4]" PULLMODE=DOWN IO_TYPE=LVCMOS33;
IOBUF PORT "buttons[5]" PULLMODE=DOWN IO_TYPE=LVCMOS33;

## LEDs #############################################

LOCATE COMP "leds[0]" SITE "B2";
LOCATE COMP "leds[1]" SITE "C2";
LOCATE COMP "leds[2]" SITE "C1";
LOCATE COMP "leds[3]" SITE "D2";
LOCATE COMP "leds[4]" SITE "D1";

IOBUF PORT "leds[0]" IO_TYPE=LVCMOS33;
IOBUF PORT "leds[1]" IO_TYPE=LVCMOS33;
IOBUF PORT "leds[2]" IO_TYPE=LVCMOS33;
IOBUF PORT "leds[3]" IO_TYPE=LVCMOS33;
IOBUF PORT "leds[4]" IO_TYPE=LVCMOS33;

## Audio PWM output #################################
# GPIO header accent pin gp[0] on J1 connector
# ** Verify this pin matches your board revision **
# ULX3S v3.x: gp[0] = B11 on J1 header
# Connect speaker/amplifier between this pin and GND

LOCATE COMP "audio_out" SITE "B11";
IOBUF PORT "audio_out" IO_TYPE=LVCMOS33 DRIVE=4;
